*{
  font-family:monospace;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}
.homecomp{
  display: flex;
  grid-row: 6/16;
  grid-column: 3/20;
}

.homeimage{
 font-size: 17vw;
 font-weight: bolder;
 background-size:45vw; 
 grid-row: 4/18;
 grid-column: 2/20;


}
.line1,.line2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin:1vw;
  font-weight: bolder;
  font-size: 25vw;
  grid-row:  3/ 12 ;
  grid-column: 3/8;

    
}
.line1:hover{
  color:white;
}
.line2:hover{

 color: rgba(0, 0, 0, 0.088);

}


body {
  margin: 0;
  padding: 0;
}

.mainbox{
  background-color: rgba(0, 0, 0, 0.088);
  display: grid;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  grid-template-rows: repeat(21,1fr);
  grid-template-columns: repeat(21,1fr);
}
.routes{
  font-weight: bolder;
}
.navbox{

  padding: 2vw;
  grid-row: 2;
  grid-column: 1/22;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_box,.logo{
  color:black;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   width: 40vw;
   font-weight: bolder;
   font-size: 1.5vw;
   display:flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
  font-size: 2vw;
  font-weight: bolder;
}
.loginbox{
  height: 50vh;
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  grid-column: 9/13;
  grid-row: 7/15;
  border: solid black;
  align-items: center;
  font-size:2.5vw;
}
.input,.button{
  width: 15vw;
}

.aboutbox{
  color: black;
  height: fit-content;
  border:solid black;
  padding: 2vw;
  grid-row: 10;
  grid-column: 2/21;
  font-size:1.5vw;
}
.desc{
  grid-row: 17;
  grid-column: 5/19;
  font-size: 1.5vw;
}
.user_location,input,button{
  height: 8vh;
  margin: 0.5vw;
  width: 5vw;
  color: black;
  font-size: 1.5vw;
  border-radius: 1vw;
  text-align: center;
}
.user_location,input{
  display: flex;
  align-items: center;
  color: black;
  grid-row: 19;
  grid-column: 2/20;
  width: 100%;
}
.routes:hover{
  font-size: 2vw;
}


@media (orientation: portrait) {

}
